.results-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .results-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
}
